# Retail Shopping Assistant local run config

# api | local_nim
NIM_RUN_MODE=api

# Required for api mode (can use either)
NVIDIA_API_KEY=
NGC_API_KEY=

# Used by compose in api mode
CONFIG_OVERRIDE=config-build.yaml

# Used by local_nim mode
LOCAL_NIM_CACHE=~/.cache/nim
